[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = DDD2308
	email = darpanadesai23@gmail.com
[core]
	editor = \"C:\\Users\\darpa\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
